* {
  padding: 0;
}
.history {
  width: 870px;
  margin: 0 auto;
  border-collapse: collapse;
}

thead tr {
  background-color: #ebeef2;
  text-transform: uppercase;
  color: #272727;
}

tr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
}

th,
td {
  width: 33%;
}

td {
  border: 1px solid #ebeef2;
  height: 100%;
  text-align: center;
  line-height: 70px;
  color: #7d8791;
}
